body, body * {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
}



#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#logicGateCreator {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#logicGateSelector {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
button, input {
    background-color: rgba(26, 26, 26, 0);
    color: #ffffff;
    border: 0.2rem solid #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0.75rem 1rem;
    margin: 0 1rem;
    transition: .25s;
}
input {
    flex-grow: 1;
}
button {
    cursor: pointer;
}
button:hover, input:hover {
    background-color: #ffffff;
    color: #1a1a1a;
}




*:focus {
    outline: none;
}